[package]
name = "lunatic-runtime"
version = "0.7.4"
authors = ["Bernard Kolobara <bernard@lunatic.solutions>"]
edition = "2018"
description = "An actor platform built on WebAssembly"
license = "Apache-2.0/MIT"
readme = "README.md"

[lib]
name = "lunatic_runtime"
path = "src/lib.rs"

[[bin]]
name = "lunatic"
path = "src/main.rs"

[dependencies]
uuid = { version = "^0.8", features = ["v4"] }
anyhow = "^1.0"
clap = { version = "^3.0", features = ["cargo"] }
lazy_static = "^1.4"
tokio = { version = "^1.14", features = ["macros"] }
async-std = { version = "^1.0", features = ["attributes", "unstable"] }
async-net = "^1.6"
wasmtime = "^0.33"
wasmtime-wasi = "^0.33"
wasmparser = "^0.81"
wasm-encoder = "^0.8"
paste = "^1.0"
env_logger = "^0.9"
log = "^0.4"
semver = "^1.0"
serde = "^1.0"
bincode = "^1.3"
dashmap = "^4.0"

[dev-dependencies]
wat = "^1.0"
wabt = "^0.10"
pretty_assertions = "^1.0"
tokio = { version = "^1.14", features = ["rt-multi-thread"] }
criterion = { version = "^0.3", features = ["async_tokio"] }

[build-dependencies]
wat = "1.0"

[[bench]]
name = "benchmark"
harness = false