[package]
name = "lunatic-runtime"
version = "0.10.0"
authors = ["Bernard Kolobara <bernard@lunatic.solutions>"]
edition = "2018"
description = "An actor platform built on WebAssembly"
homepage = "https://lunatic.solutions"
repository = "https://github.com/lunatic-solutions/lunatic"
categories = ["wasm"]
license = "Apache-2.0/MIT"
readme = "README.md"

[lib]
name = "lunatic_runtime"
path = "src/lib.rs"

[[bin]]
name = "lunatic"
path = "src/main.rs"

[dependencies]
anyhow = "^1.0"
clap = { version = "^3.0", features = ["cargo"] }
lazy_static = "^1.4"
tokio = { version = "^1.20", features = ["macros", "rt-multi-thread", "net", "time"] }
wasmtime = "^0.38"
wasmtime-wasi = "^0.38"
wasi-common = "^0.38"
wasmparser = "^0.81"
env_logger = "^0.9"
log = "^0.4"
serde = "^1.0"
bincode = "^1.3"
dashmap = "^5.3.4"
regex = "^1.5"
uuid = { version = "^1.1", features = ["v4"] }
hash-map-id = { version = "^0.10", path = "crates/hash-map-id" }
lunatic-stdout-capture = { version = "^0.10", path = "crates/lunatic-stdout-capture" }
lunatic-process = { version = "^0.10", path = "crates/lunatic-process" }
lunatic-distributed = { version = "^0.10", path = "crates/lunatic-distributed" }
lunatic-common-api = { version = "^0.10", path = "crates/lunatic-common-api" }
lunatic-process-api = { version = "^0.10", path = "crates/lunatic-process-api" }
lunatic-error-api = { version = "^0.10", path = "crates/lunatic-error-api" }
lunatic-messaging-api = { version = "^0.10", path = "crates/lunatic-messaging-api" }
lunatic-timer-api = { version = "^0.10", path = "crates/lunatic-timer-api" }
lunatic-networking-api = { version = "^0.10", path = "crates/lunatic-networking-api" }
lunatic-version-api = { version = "^0.10", path = "crates/lunatic-version-api" }
lunatic-wasi-api = { version = "^0.10", path = "crates/lunatic-wasi-api" }
lunatic-registry-api = { version = "^0.10", path = "crates/lunatic-registry-api" }
lunatic-distributed-api = { version = "^0.10", path = "crates/lunatic-distributed-api" }

[dev-dependencies]
wat = "^1.0"
tokio = { version = "^1.20", features = ["rt-multi-thread"] }
criterion = { version = "^0.3", features = ["async_tokio"] }

[[bench]]
name = "benchmark"
harness = false

[workspace]
members = [
    "crates/hash-map-id",
    "crates/lunatic-stdout-capture",
    "crates/lunatic-process",
    "crates/lunatic-distributed",
    "crates/lunatic-common-api",
    "crates/lunatic-process-api",
    "crates/lunatic-error-api",
    "crates/lunatic-messaging-api",
    "crates/lunatic-timer-api",
    "crates/lunatic-version-api",
    "crates/lunatic-wasi-api",
    "crates/lunatic-registry-api",
    "crates/lunatic-distributed-api",
]