[package]
name = "lunatic-distributed"
version = "0.10.0"
edition = "2021"
description = "Node to node communication"
homepage = "https://lunatic.solutions"
repository = "https://github.com/lunatic-solutions/lunatic/tree/main/crates"
license = "Apache-2.0/MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["quic-quinn"]
tcp = []
quic-s2n = ["dep:s2n-quic"]
quic-quinn = ["dep:quinn", "dep:rustls", "dep:rustls-pemfile", "dep:futures-util"]

[dependencies]
anyhow = "^1.0"
tokio = { version = "^1.20", features = ["macros", "rt-multi-thread", "net", "time", "io-util"] }
serde = { version = "^1.0", features = ["derive"] }
s2n-quic = { version = "1",  default-features = false, features = ["provider-address-token-default", "provider-tls-rustls"], optional = true}
wasmtime = "^2" # managed by root Cargo.toml
dashmap = "5.3.4"
bincode = "^1.3"
bytes = "1"
log = "^0.4"
async_cell = "0.2.1"
rcgen = { version="^0.10", features=["pem", "x509-parser"] }
lunatic-process = { version = "^0.10", path = "../lunatic-process" }
lunatic-plugin-internal = { version = "^0.10", path = "../lunatic-plugin-internal" }
quinn = { version = "^0.9", optional = true}
rustls = { version = "^0.20", optional = true }
rustls-pemfile = { version = "^1.0", optional = true }
futures-util = { version = "^0.3", optional = true}